
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<title>Insert title here</title>
<style>
#td1 {
  padding-bottom : 200px;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

form {
  margin-top : 200px;
  margin-right: 200px;
  margin-left: 200px;
  padding-bottom: 200px;
}
</style>
</head>

<body>

<div class="container">
       <table class="table table-striped">
          <tbody>
             <tr>
                <td id="td1" colspan="1">
                   <form class="well form-horizontal" th:action="@{/search-area}" method="post">
                      <fieldset>
                         <div class="form-group">
                            <label class="col-md-4 control-label">area id</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input id="fullName" name="areaid" placeholder="Full Name" class="form-control" required="true" value="" type="number"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Order Date</label>
                            <div class='input-group date' id='datetimepicker1'>
                    <input type='text'  name="date" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                         </div>
                         
                                         
                
                        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'L',
                    daysOfWeekDisabled: [0,2,4,6],
                	maxDate: moment().add(28, 'days')
                });

            });
        </script>
                
                         
                         <div class="form-group">
                       		<label class="col-md-4 control-label"></label>
                      			<div class="col-md-8 inputGroupContainer">                     
                       		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"></input>
                       	</div>
                      </fieldset>

                   </form>
                </td>
               
             </tr>
          </tbody>
       </table>
    </div>

</body>
</html>